body {
    margin: 0;
    padding: 0;
}

.page {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;

}
@media (max-width: 700px) {
    .page {
        zoom: 50%;
    }
}

.navbar{

    background-color: #1F2937;
    display: flex;
    color: white;
}
.left-logo img {
    width: 100px;
    margin-left: 50px;

}

.right-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
    transition-duration: 0.5s;
}

.right-links :hover {
    color:rgb(255, 197, 122);
}

.right-links a {
    padding: 16px;
}


a {
    font-family: "Hero Secondary Text";
    font-size: 122%;
    color: white;
    text-decoration: none; 

}

.lowerHeader {

    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2%;
    gap: 5%;
    align-items: center;
}

.headline {
    font-size: 48px;
    font-weight: 900;

}

.description {
    font-size: 18px;
    color: #E5E7Eb;
}

.lowerHeader button {
    color: white;
    background-color: #02f5bd;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.5s;

}

.header button:hover {
    background-color: red;
}
.profilePic img {
    width: 250px;
    border-radius: 8%;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.main-body {
    padding: 40px;
}

.daily-life {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.daily-life img {
    height: 240px;
    width: 200px;
    border-radius: 8%;
    border: 5px solid #555;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    gap: 20px;
}

@media (max-width: 500px) {
    .quote {
        padding: 10px;
    }
}

.signature {
    font-weight: bolder;
}


.sign-up {
    display: flex;
    justify-content: center;
}
.container {
    background-color: #3882F6 ;
    border: 5px solid #555;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 40px 0;
}

.signup-text {
    color: white;

    font-size: 20px;
}

.signup-button {
    color: white;
    background-color: #02f5bd;
    height: 40px;
    padding: 2px 2px;
    border-radius: 9px;
    cursor:pointer;
    transition-duration: 0.5s;
}

.signup-button:hover {
    background-color: red;
}
.footer {
    background-color: #E5E7EB;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
